page-home {

    ion-content {
        background: url('../../assets/imgs/back.jpg');
        background-size: cover;
        background-position: right;
    }
    .header {
       position: absolute;
       left: 5%;
       right: 5%;
       bottom: 50%;
       animation-name: slideDown;
       animation-duration: 1s;
       animation-timing-function: ease-in-out;
       animation-fill-mode: forwards;
        
    }
    @keyframes slideDown {
        0% {
            bottom: 100%;
         
        }
        100% {
            bottom: 50%;
            background: transparent;
        }
    }
    h1 {
        text-align: center;
        color: #fff;
        text-shadow: 0 3px 6px #201B1B;
        font-size: 48px;
        animation-name: animate;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    @keyframes animate {
        0% {opacity: 0}
        100%{opacity: 1}
    }


    #button {
        position: absolute;
        bottom: 50px;
        right: 40px;
    }

}
