page-finder {

    .search-box {
        display: flex;
        flex-direction: row;

    }
    .search {
        padding: 10px;
        border: none;
        border: 1px solid #dddddd;
        border-radius: 50px 50px 50px 50px;
        flex-basis: 100%;
        cursor: auto;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
    }

    
    .div7 {
        background: #ffffff;
        box-shadow: 2px 2px 7px #999;
  
        height: auto;
        width: 100%;
        padding: 10px;
        
        margin-bottom: 10px;
       
        
    }
   
    .title {
        display: flex;
        justify-content: space-between;
    }
    .title > .locname {
        flex-basis: 70%;
    
    } 
   
    .image {
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
      
        background-size: cover;
        background-position: center center;   
    } 

    .name {
       
        height: 20px;
        width: 100%;
        font-size: 20px;
       
    }
    .location {
        
       color: grey;
       
       
      
    }
    .bio {
        margin-bottom: 25px;
    }

    .follow {
      
        
        display: flex;
        justify-content: left;
        right: 20%;
        top: 14%;
        

    } 

    .follower {
        background: cornflowerblue;
        color: #ffffff;
        padding: 5px;
    }
    .following {
        background:forestgreen;
        color: #ffffff;
        padding: 5px;
    }
    .numRepos {
        background:darkorange;
        color: #ffffff;
        padding: 5px;
    }
    .numGists {
        background:darkred;
        color: #ffffff;
        padding: 5px;
    }
    
}
